{% block content %}
    <h1>{{ to_do_list.title }}</h1>
    <form method="post">
        {% csrf_token %}

        {% if message %}
            <script>alert("{{message}}")</script>
        {% endif %}
        <table>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td><a href="http://localhost:8000/task/get/{{ task.task_id }}/">details</a></td>
                    {% if task.owner == user %}
                        <td>
                            <a href="http://localhost:8000/task/edit/{{ task.task_id }}/{{ to_do_list.list_id }}/">edit</a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="http://localhost:8000/task/delete/{{ task.task_id }}/{{ to_do_list.list_id }}/">delete</a>
                    </td>
                    {% if task.owner == user %}
                        <td><a href="http://localhost:8000/task/share/{{ task.task_id }}/">share</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <br>
        <p>
            <a href="http://localhost:8000/task/create/{{ to_do_list.list_id }}/">Create a new task</a>
        </p>
        <p>
            <a href="http://localhost:8000/task/shared-tasks/{{ user.username }}/{{ to_do_list.list_id }}/">
                Tasks shared with me</a>
        </p>
        <br>
        <p>
            <a href="http://localhost:8000/to-do-list/showall/{{ user.username }}/">back</a>
        </p>

    </form>
{% endblock %}