<h1>{{ to_do_list.title }}</h1>
<form method="post">
    {% csrf_token %}

    {% for task in tasks %}
        <p>{{ task.title }}
            <button><a href="{% url 'v2-get-task' task_id=task.task_id %}">details</a></button>
            {% if task.owner == user %}
                <button><a href="{% url 'v2-get-task' task_id=task.task_id %}">edit</a></button>
            {% endif %}
            <button><a href="{% url 'v2-delete-task' task_id=task.task_id list_id=to_do_list.list_id %}">delete</a>
            </button>
            {% if task.owner == user %}
                <button><a href="{% url 'v2-share-task' task_id=task.task_id list_id=to_do_list.list_id %}">
                    share</a></button>
            {% endif %}
        </p>
    {% endfor %}

    <p>
        <button><a href="{% url 'v2-create-task' list_id=to_do_list.list_id %}">Create a new task</a></button>
    </p>
    <p>
        <button><a href="{% url 'v2-add-shared-tasks' list_id=to_do_list.list_id %}">
            Tasks shared with me</a></button>
    </p>
    <br>
    <p>
        <button><a href="{% url 'v2-show-lists' %}">back</a></button>
    </p>

</form>

<br>
messages:
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}