{% load static %}

<h1>All to-do lists</h1>

<form method="post">
    {% csrf_token %}

    {% for to_do_list in to_do_lists %}
        <p>{{ to_do_list.title }}
            <a href="{% url 'v2-get-list' list_id=to_do_list.list_id %}">view</a>
            <a href="{% url 'v2-edit-list' list_id=to_do_list.list_id %}">change title</a>
            <a href="{% url 'v2-delete-list' list_id=to_do_list.list_id %}">delete</a>
        </p>
    {% endfor %}
    <br>
    <p>
        <a href="{% url 'v2-create-list' %}">Create a new list</a>
    </p>
</form>

<br>
messages:
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}