<h1>{{ to_do_list.title }}</h1>
<form method="post">
    {% csrf_token %}

    <table>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td><a href="{% url 'v1-get-task' task_id=task.id %}">details</a></td>
                {% if task.owner == user %}
                    <td>
                        <a href="{% url 'v1-edit-task' task_id=task.id list_id=to_do_list.id %}">edit</a>
                    </td>
                {% endif %}
                <td>
                    <a href="{% url 'v1-delete-task' task_id=task.id list_id=to_do_list.id %}">delete</a>
                </td>
                {% if task.owner == user %}
                    <td><a href="{% url 'v1-share-task' task_id=task.id %}">share</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <br>
    <p>
        <button><a href="{% url 'v1-create-task' list_id=to_do_list.id %}" style="text-decoration: none;">
            create task</a></button>
    </p>
    <p>
        <button><a href="{% url 'v1-add-shared-tasks' list_id=to_do_list.id %}" style="text-decoration: none;">
            Tasks shared with me</a></button>
    </p>
    <br>
    <p>
        <button><a href="{% url 'v1-show-lists' %}" style="text-decoration: none">back</a></button>
    </p>

</form>

<br>
messages:
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}