{% load static %}

<h1>All to-do lists</h1>
{% if message %}
    <script>alert("{{ message }}")</script>
{% endif %}
<form method="post">
    {% csrf_token %}
    <table>
        {% for to_do_list in to_do_lists %}
            <tr>
                <td>{{ to_do_list.title }}</td>
                <td><a href="{% url 'v1-get-list' list_id=to_do_list.id %}">view</a></td>
                <td><a href="{% url 'v1-edit-list' list_id=to_do_list.id %}">change title</a></td>
                <td><a href="{% url 'v1-delete-list' list_id=to_do_list.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <p>
        <a href="{% url 'v1-create-list' %}">Create a new list</a>
    </p>
</form>
