<h1>Tasks shared with me</h1>
<form method="post">
    {% csrf_token %}
    {% for task in tasks %}
        <p>
            {{ task.owner.username }} has shared {{ task.title }} with you.
            {% if task in to_do_list.tasks.all %}
                <button type="submit" value="" disabled="disabled">Added</button>
            {% else %}
                <input type="hidden" name="task_id" value="{{ task.task_id }}">
                <button type="submit" value="Add task" name="add">Add task</button>
            {% endif %}
        </p>
        <br>
    {% endfor %}
    <p>
        <button><a href="http://localhost:8000/v2/to-do-list/get/{{ to_do_list.list_id }}/"
                   style="text-decoration: none;">back to list</a></button>
    </p>
</form>
