<h1>All to-do lists</h1>

<form method="post">
    {% csrf_token %}

    {% for to_do_list in to_do_lists %}
        <p>{{ to_do_list.title }}
            <button><a href="{% url 'v3-get-list' list_id=to_do_list.list_id %}">view</a></button>
            <button><a href="{% url 'v3-edit-list' list_id=to_do_list.list_id %}">change title</a></button>
            <button><a href="{% url 'v3-delete-list' list_id=to_do_list.list_id %}">delete</a></button>
        </p>
    {% endfor %}
    <br>
    <p>
        <button><a href="{% url 'v3-create-list' %}">Create a new list</a></button>
    </p>
</form>

<br>
messages:
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}