<h1>All to-do lists</h1>

<form method="post">
    {% csrf_token %}
    <table>
        {% for to_do_list in to_do_lists %}
            <tr>
                <td>{{ to_do_list.title }}</td>
                <td>
                    <button><a href="{% url 'v1-get-list' list_id=to_do_list.id %}"
                               style="text-decoration: none;">view</a></button>
                </td>
                <td>
                    <button><a href="{% url 'v1-edit-list' list_id=to_do_list.id %}"
                               style="text-decoration: none;">change title</a></button>
                </td>
                <td>
                    <button><a href="{% url 'v1-delete-list' list_id=to_do_list.id %}"
                               style="text-decoration: none;">delete</a></button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <p>
        <button><a href="{% url 'v1-create-list' %}">Create a new list</a></button>
    </p>
</form>

<br>
message:
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}